<tr style="margin: 10px" id="{{id}}">

    <td>
        <a href='/cinemas/{{id}}'>
            {{id}}
        </a>
    </td>
    <td>
        <form>
            <input type="hidden" id="namecinema" name="name" value="{{id}}">
            <button id="delete" value="click" class="alert-danger">x</button>
        </form>
    </td>
</tr>