<!DOCTYPE html>
<html>
<head>
    <style>
        #tableTickets {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 10%;
            background: #2aabd2;
        }

        #tableTickets td  {
            border: 1px solid #ddd;
            padding: 8px;
        }

      /*  #tableTickets tr:hover {background-color: #ddd;}*/



    </style>
</head>
<br>
<h3 style="color: cornflowerblue; width: 50%">All tickets from this session </h3>
<br>
<table align="left" class="table-bordered" id="tableTickets">
    {{#each cinemas.mappingTickets}}
        <tr>
            {{#each rows}}

                <td>
                    <form>
                        <input type="hidden" id="ticket" name="tickets" value="{{name}}">
                        <button id="delete" value="click" class="alert-info">{{name}}</button>
                    </form>
                </td>
            {{/each}}
        </tr>
    {{/each}}
</table>



