<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"language="JavaScript"></script>

      <style>
          .button1 {
              background-color: cornflowerblue; /* Green */
              border: none;
              color: white;
              padding: 4px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              border-radius: 8px;
          }



          body {
              margin-top: 0px;
              margin-left: 0px;
              margin-right: 0px;
              font-family: Arial, monospace;
              background: #4b5257;

          }
          a.buttonPage:link, a.buttonPage:visited {
              background-color: limegreen;
              color: black;
              padding: 14px 25px;
              text-align: center;
              border-radius: 8px;
              margin: 12px 200px;
              cursor: pointer;
          }

          /* Style the tab */
          .tab {
              overflow: hidden;
              border: 1px solid #ccc;
              background-color: #f1f1f1;
              margin-top: 0%;
          }

          /* Style the buttons inside the tab */
          .tab button {
              background-color: inherit;
              float: right;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
              position: relative;
          }

          .tab button.Home {
              background-color: inherit;
              float: left;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
              position: relative;
          }

          /* Change background color of buttons on hover */
          .tab button:hover {
              background-color: #ddd;
          }

          .tab h1 {
              background-color: inherit;
              float: left;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
          }

          .tab img {
              background-repeat: no-repeat;
              background-size: contain;
              background: none;
          }

          .tab .btn {
              position: relative;
              background-color: inherit;
              float: right;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
              position: relative;
              padding: 12px 24px;
              border: none;
              cursor: pointer;
              border-radius: 5px;
          }
          .tab .form .logo{
              background-color: inherit;
              float: right;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
              position: relative;
          }
          .tab .form .imagem {
              background-color: inherit;
              float: right;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 0px;
              transition: 0.3s;
              font-size: 17px;
              position: relative;
          }
          /* Change background color of buttons on hover */

        p.infoContainer{
            color: #a6d5ec;
            position: fixed;
            bottom: 0;
            font-size: 50%;
        }

          button.hourOfSession {
              display: inline-block;
              padding: 10px 15px;
              font-size: 15px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: slateblue;
              border: none;
              border-radius: 10px;
              color: white;

          }

          button.hourOfSession:hover {background-color: slateblue}

          button.hourOfSession:active {
              background-color: slateblue;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
          }
          img.center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 20%;
          }

      </style>
  </head>
  <body>
  <br>

      <div class="tab">
          <button class="Home" onclick="location.href = '/'">
              <img src="http://pluspng.com/img-png/png-movie-ticket-session-times-1102.png"
                   width="40" height="40" alt="">
             <b>OTRA</b></button>
          <button class="btn" onclick="location.href = '/cinemas'">
              <img src="https://png.icons8.com/metro/1600/clapperboard.png" width="20" height="20" alt="" align="left">

              Cinema
          </button>
          <button class="btn" onclick="location.href = '/login'">
              <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" width="20" height="20" alt="" align="left">
              {{#if menuState.user}}
                  {{menuState.user}}
              {{else}}
                  Login
              {{/if}}
          </button>
          {{#if menuState.user}}
              <button class="btn" onclick="location.href = '/logout'">
                  <img class="imagem" src="https://cdn1.iconfinder.com/data/icons/user-pics/512/user_logout-128.png" width="20" height="20" alt="" align="left">
                  Logout
              </button>
          {{/if}}


      </div>

    <div class="container">
      {{{body}}}
    </div>
    <p class="infoContainer">Developed by Catarina Vaz | Ricardo Fernandes | Sofia Monteiro</p>
  </body>
</html>
