
<html>
<head>
    <title>OTRA</title>

</head>
<body background= "https://www.esetube.com/wp-content/uploads/2016/08/A.A-movie-ticket-buy-online-750x400.jpg">

<h1 align="center" style="color: black"> Welcome to OTRA</h1>
<input type="button" onclick="location.href = '/cinemas'" value="Lists of Cinemas" />
<p></p>
</body>
</html>