<h1 style="color: white" align="center"><b style="color: mediumslateblue ">Title: </b>{{cinemas.original_title}}</h1>
<img class="center" align="middle" width='250px' src='{{cinemas.img}}'/>
<h2 style="color: white" align="center" ><b style="color: cornflowerblue ">Year: </b>{{cinemas.release_date}}</h2>
<h2  style="color: white" align="center"><b style="color: cornflowerblue ">Duration:  </b>{{cinemas.runtime}}minutes</h2>
