<form>
    <select id="cinemas">

    </select>

    <select id="movies">

    </select>
    <button id="selectButton" value="click">Submit</button>
</form>
<script>
    $(document).ready(function () {
        $.get(
                '/cinemas/getAllCinemas4mainpage',
                (data, status) => {
                    //if (status == "sucess") {
                        $.each(data.results, function(key, value) {
                            $('#cinemas')
                                    .append($("<option></option>")
                                            .attr("value",value.id)
                                            .text(value.id)

                                    )

                        });
                    //}
                    //$('#cinemas').find('*').addEventListener('click',()=>curr = $(this).val())
                }
        )


        $('#selectButton').click((ev)=>{
            var x = '/cinemas/'+$('#cinemas :selected').text()
            console.log(x)
           /* $.get(
                '/cinemas/'+$('#cinemas').find(':selected').text()
                    ,()=>{}
            )*/
           //$.load(x);
           //$(location).attr('href',x)
           // $.location.href = x;
            window.location.href = x;
            return false;
        })
    })

</script>