<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            font-family: Arial, monospace;
            background: #4b5257;

        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            position: relative;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        .tab h1 {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .tab img {
            background-repeat: no-repeat;
            background-size: contain;
            background: none;
        }

        .tab .btn {
            position: relative;
            background-color: inherit;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            position: relative;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .tab .form .logo{
            background-color: inherit;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            position: relative;
        }
        .tab .form .imagem {
            background-color: inherit;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 0px;
            transition: 0.3s;
            font-size: 17px;
            position: relative;
        }
        /* Change background color of buttons on hover */

    </style>
</head>
<body>
<br>

    <div class="tab">
        <h1> OTRA</h1>
        <button class="btn" onclick="location.href = '/cinemas'">
            <img src="https://png.icons8.com/metro/1600/clapperboard.png" width="20" height="20" alt="" align="left">

            Cinema
        </button>
        <button class="btn" onclick="location.href = '/login'">
            <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" width="20" height="20" alt="" align="left">
            {{#if menuState.user}}
                {{menuState.user}}
            {{else}}
                Login
            {{/if}}
        </button>
        <form class="form" action="/logout" method="post">
            {{#if menuState.user}}
                <input type="hidden" name="user" value="{{menuState.user}}">
                <input type="submit" name="out" value="logout" class="logo"/>
                <img class="imagem" src="https://cdn1.iconfinder.com/data/icons/user-pics/512/user_logout-128.png" width="20" height="20" alt="" align="left">
            {{/if}}
        </form>
        <img src="http://pluspng.com/img-png/png-movie-ticket-session-times-1102.png"
             width="70" height="70" alt="">
    </div>

</body>
</html>