<form>
    <select id="cinemas">

    </select>

    <button id="selectButton" value="click">Submit</button>
</form>
<script>
    $(document).ready(function () {
        $.get(
                '/cinemas/getAllCinemas4mainpage',
                (data) => {
                        $.each(data.results, function(key, value) {
                            $('#cinemas')
                                    .append($("<option></option>")
                                            .attr("value",value.id)
                                            .text(value.id)

                                    )

                        });
                }
        )

        $('#selectButton').click((ev)=>{
            var url = '/cinemas/'+$('#cinemas :selected').text()
            window.location.href = url;
            return false;
        })
    })

</script>